@inject IJSRuntime JSRuntime
@inject IConfiguration Configuration

<div class="my-component" @onclick="OnClickThisComponent">
    This component is defined in the <strong>WasmApp0</strong>.
</div>

@code
{
    private async Task OnClickThisComponent()
    {
        await using var module = await this.JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Component0.razor.js");
        await module.InvokeVoidAsync("showMessage", this.Configuration["messages:WasmApp0:Component0"] ?? "(message)");
    }
}