@inject Helper Helper
<div>
    <div>
        <Button OnClick="OnClickButton">
            Hello, Server App 2.
        </Button>
        <span>
            @_response
        </span>
    </div>

    <Component0 />

    <Component1 />

</div>

@code
{
    private string? _response;

    private async Task OnClickButton()
    {
        _response = await this.Helper.PromptAsync("I'm Server App 2. How are you?");
    }
}
