@inject IJSRuntime JSRuntime

<div class="my-component" @onclick="OnClickThisComponent">
    This component is defined in the <strong>RazorClassLibrary1</strong> library.
</div>

@code
{
    private async Task OnClickThisComponent()
    {
        await using var module = await this.JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/RazorClassLibrary1/Component1.razor.js");
        await module.InvokeVoidAsync("showMessage", "Hello from Component 1!");
    }
}