@inject IJSRuntime JSRuntime

<div class="my-component" @onclick="OnClickThisComponent">
    <div>
        This component is defined in the <strong>BlazorServerApp0</strong>.
    </div>
</div>

@code
{
    private async Task OnClickThisComponent()
    {
        await using var module = await this.JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Component0.razor.js");
        await module.InvokeVoidAsync("showMessage", "Hello from Component 0!");
    }
}