button {
    /* disable default button appearance */
    appearance: none;
    border: none;
    cursor: pointer;
    outline: none;
    /* custom styles */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #0056b3;
    }
