@inject IConfiguration Configuration

<button @onclick="OnClick" style="@(this.Configuration["Styles:ServerApp1:Button"])">
    @ChildContent
</button>

@code 
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
