@inject Helper Helper
@inject IConfiguration Configuration

<div>
    <div>
        <Button OnClick="OnClickButton">
            Hello, Wasm App 2.
        </Button>
        <span>
            @_response
        </span>
    </div>

    <Component0 />

    <Component1 />

</div>

@code
{
    private string? _response;

    private async Task OnClickButton()
    {
        _response = await this.Helper.PromptAsync(this.Configuration["messages:MainWasmApp:App"] ?? "(message)");
    }
}
